nav{
    font-size: 30px;
}
body{
    background-color: rgb(250, 137, 0);
    margin: 25px; 
}
body {
    font: 1rem/1.5 var(--bs-font-sans-serif);
    background-image: var(--bs-gradient)
  }
  a {
    color: var(--bs-blue);
    background-image: var(--bs-gradient)
  }
  table{
    background-color:rgb(245, 168, 138);
    margin: 25px;
  }